@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  font-family: "Lato";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #ccc;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#246, #002);
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 4rem;
  margin-bottom: 2rem;

  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to right, #aaa, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.main {
  max-width: 640px;
  width: 100%;
  height: 80vh;
  padding: 1rem;
  position: relative;
}

.form {
  &__wrapper:before {
    background: rgba(0, 0, 0, 0.5);
    color: coral;
    content: "Write your worries below and take control of your life!!";
    font-size: 1rem;
    left: 60%;
    opacity: 0;
    top: 40%;
    position: absolute;
    white-space: wrap;
  }

  &__wrapper:hover:before {
    top: 20%;
    left: 50%;
    opacity: 1;
    max-height: 5rem;
    max-width: 18rem;
    border-radius: 7px;
    transition: .5s linear;
    padding: 0.5rem;
    text-align: justify;
  }

  &__action {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__message {
    background: #ccc;
    border-radius: 4px;
    max-width: 38rem;
    min-width: 38rem;
    max-height: 18rem;
    min-height: 15rem;
    padding: 8px;
    width: 100%;
  }

  &__button {
    text-transform: uppercase;
    min-width: 200px;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 1px;
    margin-left: 1rem;

    &--save {
      background: $dark;
      border-radius: 4px;
      border: 1px solid $dark;
      color: #ccc;
      transition: .3s;

      &:hover {
        background: #ccc;
        color: $dark;
      }
    }

    &--load {
      background: $dark;
      border: 1px solid $dark;
      border-radius: 4px;
      color: #ccc;
      transition: .3s linear;

      &:hover {
        background: #ccc;
        color: $dark;
      }
    }
  }
}