@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}